<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.samsungpay" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Samsung Pay Plugin</name>
    
    <js-module name="SamsungPayPlugin" src="www/SamsungPayPlugin.js">
        <clobbers target="cordova.plugins.SamsungPayPlugin" />
    </js-module>
    
    <platform name="android">

       <!-- <preference name="APP_SERVICE_ID"/>
        <preference name="APP_DEBUG_MODE" default="N"/>
        <preference name="APP_DEBUG_API_KEY" default=""/>-->

        <!-- Android HOOK tto change strings xml if variable received  -->
       
       <!-- <hook type="after_plugin_install" src="hooks/afterPluginInstall.js"/>-->
        <hook type="after_plugin_install" src="hooks/android_add_string.js"/>
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SamsungPayPlugin">
                <param name="android-package" value="com.outsystems.experts.samsungpay.SamsungPayPlugin" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SamsungPayPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/samsungpay/" />
        <source-file src="src/android/SamsungPayErrors.kt" target-dir="app/src/main/kotlin/com/outsystems/experts/samsungpay/" />
         
        <!-- SDK Files -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <!-- END SDK Files -->
         
        <!-- Gradle -->
        <source-file src="src/android/libs/SamsungPaySDK_2.18.00_release.jar" target-dir="libs" />
        <!-- <resource-file src="src/android/libs/SamsungPaySDK_2.18.00_release.jar" target="libs/SamsungPaySDK_2.18.00_release.jar" />-->
        <!-- END Gradle -->

        <!-- Edit config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.6.0" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        <!--    END Edit config.xml -->

         <!-- Edit AndroidManifest.xml  -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <queries>
                <package android:name="com.samsung.android.spay" />
                <package android:name="com.samsung.android.samsungpay.gear" />
            </queries>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="spay_sdk_api_level"
                android:value="2.18" />

            <meta-data
                android:name="debug_mode"
                android:value="@string/app_debug_mode" />
            
            <meta-data
                android:name="spay_debug_api_key"
                android:value="@string/app_spay_debug_api_key" />
        </config-file>
        <!-- END Edit AndroidManifest.xml -->

        <!-- Variables Service ID -->
        
       <!-- <config-file target="res/values/strings.xml" parent="/*">
            <string name="app_service_id">$APP_SERVICE_ID</string>
            <string name="app_debug_mode">$APP_DEBUG_MODE</string>
            <string name="app_spay_debug_api_key">$APP_DEBUG_API_KEY</string>
        </config-file>-->
        <!-- End Variables -->

    </platform>
</plugin>
